body{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    color:palevioletred
}

.pinktext{
    color:palevioletred;
}

/*.pagecenter{
    text-align: center;
}*/

.title{
    margin-top: 25px; /* some head space */
}

/*.insta{
    margin: 20px;
}*/

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p { 
    font-size: 20px;
}

/*.logo{
    margin: 2px;
}*/

.instafeed{
   text-align: center;
   margin-top: 30px;
   margin-bottom: 30px; /* footer space, can be removed if layout is defined in a parent class */
}

.pinkborder{ 
   border: 2px solid;
   border-color: palevioletred;
}

.numerotel{
    font-size: 30px;
    align-self: center;
    margin-bottom: 10px; /* adjustment to improve alignment of text with image */
    color: black; /* since most of the website is pink, its easier to define that as default in the body css and apply black here */
}


.whats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; /* small space between elements in the same row (whatsapp image and text) /*
}

.whats a{
    text-decoration: none;
    /* margin-top: 20px; */
}